@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary font-primary text-white;
}
button {
  @apply transition ease-in-out duration-200;
}

#upcoming-movies {
  background: linear-gradient(
    0deg,
    transparent 0%,
    transparent 50%,
    rgba(18, 18, 18, 0.7) 78%,
    rgba(18, 18, 18, 1) 100%
  );
}

.swiper-button-next,
.swiper-button-prev {
  padding: 32px 25px !important;
  border: 1px solid white;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  --swiper-navigation-size: 25px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: white;
}
